<!-- TEA: Repeat over our tea list teas and setup filtering by search term. -->
<h1> browse[Tea] </h1>
<!--<div ng-model > {{filtertext}} </div>-->
<h3> Find your favorite tea to purchase now or save to your account wishlist. </h3>
<div>
    <!-- THIS NEEDS TO AUTO POPULATE ONCE USER IS AUTHENTICATED -->
 
    <button class="btn btn-outline-info" ng-click="getTeas()"> available[Tea] </button>
    <!-- PRODUCT CARDS -->
    <input ng-model ='query' type="text" class="input" placeholder="Please describe your mood." />
    <div ng-repeat="tea in teaList | filter:query ">
        <!--CARD STARTS HERE -->
        <div class="panel panel-default">
            <div>
                <h4 class="col-xs-1">{{tea.Tea}} | {{tea.Price}} </h4>
                <h6 class="col-xs-2">{{tea.Brands}} </br> {{tea.Keyword}}</h6>
            </div class="col-md-2">
            <img ng-src="{{tea.Image}}">
            <div>
                <p>{{tea.Origin}} {{tea.Desc}}</p>
                <a href="#" class="card-link"> Purchase </a>
                <a href="#" class="card-link"> Wishlist </a>
            </div>
        </div>
    </div>
    <!--END REPEAT OF CARDS -->
