  <h1>New Tea</h1>
    <form>
       <div class="form-group">
            <label>Brands</label>
            <input type="text" class="form-control" placeholder="brands" ng-model="newTea.brands" />
        </div>
        <div class="form-group">
            <label>Origin</label>
            <input type="text" class="form-control" placeholder="country of origin" ng-model="newTea.origin" />
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="text" class="form-control" placeholder="price" ng-model="newTea.price" />
        </div>
        <div class="form-group">
            <label>Tea</label>
            <input type="text" class="form-control" placeholder="tea" ng-model="newTea.tea" />
        </div>
        <div class="form-group">
            <label>TeaWord</label>
            <input type="text" class="form-control" placeholder="teaword keyword" ng-model="newTea.teaword" />
        </div>
        <!-- TODO: bind this button to a function -->
        <button class="btn btn-default" ng-click="addNewItem()">Submit Tea</button>
    </form>
