 
      <h1>New Tea</h1>
    <form ng-controller = "objectNewCtrl">
       <div class="form-group">
            <label>Brands</label>
            <input type="text" class="form-control" placeholder="brands" ng-model="newTea.Brands" />
        </div>
        <div class="form-group">
            <label>Origin</label>
            <input type="text" class="form-control" placeholder="country of origin" ng-model="newTea.Origin" />
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="text" class="form-control" placeholder="price" ng-model="newTea.Price" />
        </div>
        <div class="form-group">
            <label>Tea</label>
            <input type="text" class="form-control" placeholder="tea" ng-model="newTea.Tea" />
        </div>
        <div class="form-group">
            <label>Keyword</label>
            <input type="text" class="form-control" placeholder="teaword keyword" ng-model="newTea.Keyword" />
        </div>
        <!-- TODO: bind this button to a function -->
        <button class="btn btn-default" ng-click="addNewItem()">Submit Tea</button>
    </form>
